/*
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 27px'), local('Slabo27px-Regular'), url('../fonts/Slabo_27px/Slabo27px-Regular.ttf') format('truetype');
}
*/
html, body{
    width: 100%;
    height: 100%;
    line-height: 1.5;
    color: #555;
}

h1, h2{
    font-family: 'Slabo 27px', sans-serif;
    font-weight: bold;
    margin: 10px;
}

h6{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Slabo 27px', sans-serif;
}

p.lead{
    font-family: 'Roboto', sans-serif;
}

.nav-item{
    text-transform: capitalize;
    display: flex;
    align-items: center;
    text-align: center;
    align: center;
}

.section{
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.section-content{
    margin: 0 auto;
    max-width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section3{
    margin-top: 50px;
    margin-bottom: 50px;
}

.section2, .section4{
    background-color: #B2EBF2;
}

.navbar-brand > img {
    height: auto;
    max-width: 30%;
}

.navbar-nav li a{
    line-height: 50px;
}

.navbar-nav li button{
    margin-top: 15px;
}

.customHR{
    border: 0 none;
    height: 5px;
    width: 80px;
    align: center;
    background-color: #0097A7;
}

.features{
    margin-top: 30px;
}

a{
    color: inherit;
    text-decoration: none;
}
