.my-card{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px #262F36;
    max-width: 60%;
    display: flex;
    align-items: center;
    text-align: center;
    border-color: #ccc;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    padding: 10px;
}

.basic-info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background: #262F36;
}

.profilePic img {
    margin-top: 50px;
    margin-bottom: 50px;
    max-height: 200px;
    max-width: auto;
}

.projects{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
