.project-form{
    padding: 20px;
    max-width: 60%;
    margin-bottom: 50px;
    border-color: #ccc;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
}

.project-heading{
    display: block;
    text-align: center;
}
